@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.section6 {
	display: flex;
	background-color: #3d3d3d;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container-redes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.redes-sociais {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px 50px;
	border: #8c8c8c 2px solid;
	border-radius: 5px;
	margin: 0px 10px;
}

.redes-sociais i {
	font-size: 50px;
	color: #fff;
}

.redes-sociais:hover {
	background-color: #8c8c8c;
	cursor: pointer;
}

.redes-sociais:hover i {
	color: rgb(207, 207, 207);
}

.section6 img {
	width: 150px;
}

@media screen and (max-width: 800px) {
	.section6 {
		display: flex;
		background-color: #3d3d3d;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.container-redes {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.redes-sociais {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 20px 50px;
		border: #8c8c8c 2px solid;
		border-radius: 5px;
		margin: 10px 10px;
	}

	.redes-sociais i {
		font-size: 50px;
		color: #fff;
	}

	.redes-sociais:hover {
		background-color: #8c8c8c;
		cursor: pointer;
	}

	.redes-sociais:hover i {
		color: rgb(207, 207, 207);
	}

	.section6 img {
		width: 150px;
	}
}
