@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerS3 {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex: 4;
}

.descricao {
	width: 20em;
}

.descricao h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 20px;
	color: rgb(31, 31, 31);
}

.descricao p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: rgb(107, 107, 107);
}

@media screen and (max-width: 800px) {
	.section3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.containerS3 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		flex: 4;
	}

	.descricao {
		width: 20em;
		text-align: center;
	}

	.descricao h1 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 50px;
		margin-bottom: 20px;
		color: rgb(31, 31, 31);
	}

	.descricao p {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 17px;
		color: rgb(107, 107, 107);
		margin-bottom: 10px;
	}
}
