.funcionario{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 25%;
    margin-bottom: 20px;
}

.fotoFuncionario img{
    border-radius: 100%;
    width: 35%;
    margin-left: 35%;
    margin-bottom: 10px;
}

.nomeFuncionario{
    text-align: center;
}